@use '../abstracts/index' as *;
//TODO RWD dla stopki
@keyframes socials_fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    &__links {
        a:not(.footer__socials-link):not(.footer__links-image) {
            position: relative;
            color: $white;
            transition: all 0.3s ease;
            z-index: 0;
            &::before {
                content: '';
                position: absolute;
                width: calc(100% + 2em);
                height: calc(100% + 0.5em);
                top: 50%;
                left: 50%;
                background: $white;
                transform: translate(-50%, -50%) scaleY(0);
                z-index: -1;
            }
            &:hover {
                color: $blue;
                &::before {
                    transform: translate(-50%, -50%) scaleY(1);
                    transition: all 0.3s 0.15s ease;
                }
            }
        }
    }
    &__socials {
        min-width: 138px;
        &-link {
            @media(min-width: 1200px){
                transform: translateX(0.8rem);
            }
            .bi {
                position: relative;
                color: $white;
                font-size: 5rem;
                z-index: 0;
                &::before {
                    vertical-align: text-bottom;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: calc(50%);
                    left: calc(50%);
                    background: $white;
                    width: calc(100% + 0.2em);
                    height: calc(100% + 0.2em);
                    border-radius: 50%;
                    transform-origin: center;
                    transform: translate(-50%, -50%) scale(0);
                    z-index: -1;
                    transition: all 0.1s ease;
                }
                &:hover {
                    &::before {
                        opacity: 0.5;
                        animation: socials_fadeIn 0.3s 0.2s ease forwards;
                    }
                    &::after {
                        transform: translate(-50%, -50%) scale(1);
                        transition: all 0.3s 0.2s ease;
                    }
                }
                &.bi-facebook {
                    transition: all 0.3s ease;
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}